In [2]:
#!/usr/bin/env python
# coding: utf-8

# # Ques1: Write a python program to display all the header tags from wikipedia.org.



from bs4 import BeautifulSoup
import requests



page=requests.get('https://en.wikipedia.org/wiki/Main_Page')



soup=BeautifulSoup(page.content)
soup



titles =[]

for i in soup.find_all('h2', class_="mp-h2"):
    titles.append(i.text)

titles

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [3]:
# # Ques2: Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.



from bs4 import BeautifulSoup
import requests



page_1=requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&ref_=adv_prv')



page_1



soup_1=BeautifulSoup(page_1.content)
soup_1



#Importing names of first 50 IMDB rating movies available on Page 1

movies_name=[]

for i in soup_1.find_all('h3', class_="lister-item-header"):
    movies_name.append(i.text.split(sep='\n'))
    
movies_name



ratings=[]

for i in soup_1.find_all('div', class_="inline-block ratings-imdb-rating"):
    ratings.append(i.text.split()[0])
    
ratings




#Year of Release Page 1

yor=[]

for i in soup_1.find_all('span', class_="lister-item-year text-muted unbold"):
    yor.append(i.text)

yor


# Page 2



page_2=requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt')
page_2



soup_2=BeautifulSoup(page_2.content)
soup_2



for i in soup_2.find_all('h3', class_="lister-item-header"):
    movies_name.append(i.text.split(sep='\n'))
    
movies_name



#Ratings Page 2

for i in soup_2.find_all('div', class_="inline-block ratings-imdb-rating"):
    ratings.append(i.text.split()[0])
    
ratings



#Year of Release Page 2

for i in soup_2.find_all('span', class_="lister-item-year text-muted unbold"):
    yor.append(i.text)

yor



#Checking length
print(len(movies_name),len(ratings), len(yor))



#Creating DataFrame

import pandas as pd

imdb = pd.DataFrame({'Names': movies_name,'IMDB Ratings':ratings, 'Year of Release': yor})
imdb

100 100 100

,Names,IMDB Ratings,Year of Release
0,"[, 1., The Shawshank Redemption, (1994), ]",9.3,(1994)
1,"[, 2., The Godfather, (1972), ]",9.2,(1972)
2,"[, 3., The Dark Knight, (2008), ]",9.0,(2008)
3,"[, 4., The Lord of the Rings: The Return of th...",9.0,(2003)
4,"[, 5., Schindler's List, (1993), ]",9.0,(1993)
...,...,...,...
95,"[, 96., North by Northwest, (1959), ]",8.3,(1959)
96,"[, 97., Vertigo, (1958), ]",8.3,(1958)
97,"[, 98., Singin' in the Rain, (1952), ]",8.3,(1952)
98,"[, 99., Citizen Kane, (1941), ]",8.3,(1941)
99,"[, 100., M - Eine Stadt sucht einen Mörder, (1...",8.3,(1931)

In [4]:
# # Ques3: Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.



from bs4 import BeautifulSoup
import requests



page=requests.get('https://www.imdb.com/india/top-rated-indian-movies')



soup=BeautifulSoup(page.content)
soup



n=100
movies_name=[] * n

for i in soup.find_all('td', class_="titleColumn"):
    movies_name.append(i.text.split(sep='\n')) 
    
for i in range (0,100):
    print(movies_name[i])



ratings=[]

for i in soup.find_all('td', class_="ratingColumn imdbRating"):
    ratings.append(i.text.split()[0])
    
ratings



#Year of Release

yor=[]

for i in soup.find_all('span', class_="secondaryInfo"):
    yor.append(i.text)

yor



#Checking length
print(len(movies_name),len(ratings), len(yor))



#Creating DataFrame

import pandas as pd

imdb = pd.DataFrame({'Names': movies_name,'IMDB Ratings':ratings, 'Year of Release': yor})
imdb

['', '      1.', '      Jai Bhim', '(2021)', '']
['', '      2.', '      Anbe Sivam', '(2003)', '']
['', '      3.', '      Golmaal', '(1979)', '']
['', '      4.', '      Nayakan', '(1987)', '']
['', '      5.', '      Pariyerum Perumal', '(2018)', '']
['', '      6.', '      Apur Sansar', '(1959)', '']
['', '      7.', '      3 Idiots', '(2009)', '']
['', '      8.', '      Manichitrathazhu', '(1993)', '']
['', '      9.', '      Black Friday', '(2004)', '']
['', '      10.', '      Kumbalangi Nights', '(2019)', '']
['', '      11.', '      C/o Kancharapalem', '(2018)', '']
['', '      12.', '      Taare Zameen Par', '(2007)', '']
['', '      13.', '      #Home', '(2021)', '']
['', '      14.', '      Kireedam', '(1989)', '']
['', '      15.', '      Soorarai Pottru', '(2020)', '']
['', '      16.', '      Dangal', '(2016)', '']
['', '      17.', '      Jersey', '(2019)', '']
['', '      18.', '      Kaithi', '(2019)', '']
['', '      19.', '      Pather Panchali', '(1955)', '']
['', '      20.', '      Thevar Magan', '(1992)', '']
['', '      21.', '      Asuran', '(2019)', '']
['', '      22.', '      Visaaranai', '(2015)', '']
['', '      23.', '      96', '(2018)', '']
['', '      24.', '      Thalapathi', '(1991)', '']
['', '      25.', '      Natsamrat', '(2016)', '']
['', '      26.', '      Sarpatta Parambarai', '(2021)', '']
['', '      27.', '      Drishyam 2', '(2021)', '']
['', '      28.', '      Sardar Udham', '(2021)', '']
['', '      29.', '      Thani Oruvan', '(2015)', '']
['', '      30.', '      Aparajito', '(1956)', '']
['', '      31.', '      Vada Chennai', '(2018)', '']
['', '      32.', '      Jaane Bhi Do Yaaro', '(1983)', '']
['', '      33.', '      Khosla Ka Ghosla!', '(2006)', '']
['', '      34.', '      Peranbu', '(2018)', '']
['', '      35.', '      K.G.F: Chapter 2', '(2022)', '']
['', '      36.', '      Chupke Chupke', '(1975)', '']
['', '      37.', '      Drishyam', '(2013)', '']
['', '      38.', '      Agent Sai Srinivasa Athreya', '(2019)', '']
['', '      39.', '      Anniyan', '(2005)', '']
['', '      40.', '      Mahanati', '(2018)', '']
['', '      41.', '      Satya', '(1998)', '']
['', '      42.', '      Bangalore Days', '(2014)', '']
['', '      43.', '      Super Deluxe', '(2019)', '']
['', '      44.', '      Premam', '(2015)', '']
['', '      45.', '      Ratsasan', '(2018)', '']
['', '      46.', '      Devasuram', '(1993)', '']
['', '      47.', '      Aruvi', '(2016)', '']
['', '      48.', '      Bhaag Milkha Bhaag', '(2013)', '']
['', '      49.', '      Gangs of Wasseypur', '(2012)', '']
['', '      50.', '      Kannathil Muthamittal', '(2002)', '']
['', '      51.', '      Andhadhun', '(2018)', '']
['', '      52.', '      Guide', '(1965)', '']
['', '      53.', '      Drishyam', '(2015)', '']
['', '      54.', '      Chithram', '(1988)', '']
['', '      55.', '      Iruvar', '(1997)', '']
['', '      56.', '      Shahid', '(2012)', '']
['', '      57.', '      Sairat', '(2016)', '']
['', '      58.', '      Paan Singh Tomar', '(2012)', '']
['', '      59.', '      Zindagi Na Milegi Dobara', '(2011)', '']
['', '      60.', '      Vikram Vedha', '(2017)', '']
['', '      61.', '      Tumbbad', '(2018)', '']
['', '      62.', '      Mudhalvan', '(1999)', '']
['', '      63.', '      Spadikam', '(1995)', '']
['', '      64.', '      Dhuruvangal Pathinaaru', '(2016)', '']
['', '      65.', '      Black', '(2005)', '']
['', '      66.', '      Swades: We, the People', '(2004)', '']
['', '      67.', '      Chhichhore', '(2019)', '']
['', '      68.', '      Jo Jeeta Wohi Sikandar', '(1992)', '']
['', '      69.', '      Pudhu Pettai', '(2006)', '']
['', '      70.', '      Chak De! India', '(2007)', '']
['', '      71.', '      Pyaasa', '(1957)', '']
['', '      72.', '      Papanasam', '(2015)', '']
['', '      73.', '      Soodhu Kavvum', '(2013)', '']
['', '      74.', '      Article 15', '(2019)', '']
['', '      75.', '      PK', '(2014)', '']
['', '      76.', '      Mandela', '(2021)', '']
['', '      77.', '      Queen', '(2013)', '']
['', '      78.', '      Munna Bhai M.B.B.S.', '(2003)', '']
['', '      79.', '      Talvar', '(2015)', '']
['', '      80.', '      Kaakkaa Muttai', '(2014)', '']
['', '      81.', '      Uri: The Surgical Strike', '(2019)', '']
['', '      82.', '      OMG: Oh My God!', '(2012)', '']
['', '      83.', '      Lagaan: Once Upon a Time in India', '(2001)', '']
['', '      84.', '      Jigarthanda', '(2014)', '']
['', '      85.', '      Sarfarosh', '(1999)', '']
['', '      86.', '      Udaan', '(2010)', '']
['', '      87.', '      Barfi!', '(2012)', '']
['', '      88.', '      Theeran Adhigaaram Ondru', '(2017)', '']
['', '      89.', '      Sholay', '(1975)', '']
['', '      90.', '      Ustad Hotel', '(2012)', '']
['', '      91.', '      Hera Pheri', '(2000)', '']
['', '      92.', '      The Legend of Bhagat Singh', '(2002)', '']
['', '      93.', '      Angoor', '(1982)', '']
['', '      94.', '      Baasha', '(1995)', '']
['', '      95.', '      Rang De Basanti', '(2006)', '']
['', '      96.', '      Masaan', '(2015)', '']
['', '      97.', '      Dil Chahta Hai', '(2001)', '']
['', '      98.', '      Kahaani', '(2012)', '']
['', '      99.', '      Maheshinte Prathikaaram', '(2016)', '']
['', '      100.', '      Baahubali 2: The Conclusion', '(2017)', '']
250 250 250

,Names,IMDB Ratings,Year of Release
0,"[, 1., Jai Bhim, (2021), ]",8.4,(2021)
1,"[, 2., Anbe Sivam, (2003), ]",8.4,(2003)
2,"[, 3., Golmaal, (1979), ]",8.4,(1979)
3,"[, 4., Nayakan, (1987), ]",8.4,(1987)
4,"[, 5., Pariyerum Perumal, (2018), ]",8.4,(2018)
...,...,...,...
245,"[, 246., Oye Lucky! Lucky Oye!, (2...",7.6,(2008)
246,"[, 247., Arya, (2004), ]",7.6,(2004)
247,"[, 248., Samsara, (2001), ]",7.6,(2001)
248,"[, 249., Eega, (2012), ]",7.6,(2012)
249,"[, 250., Newton, (2017), ]",7.6,(2017)

In [5]:
# # Ques 4: Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm



from bs4 import BeautifulSoup
import requests



page=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page



soup=BeautifulSoup(page.content)
soup



names=[]

for i in soup.find_all('div', class_="presidentListing"):
    names.append(i.text.split(sep='\n')[1]) 
    
names



term=[]

for i in soup.find_all('div', class_="presidentListing"):
    term.append(i.text.split(sep='\n')[2]) 
    
term



#Checking length
print(len(names),len(term))



#Creating DataFrame

import pandas as pd

india = pd.DataFrame({'President Name': names,'Term':term})
india

13 13
25 25 25 25
100 100 100 100

,Rank,Publication,H5-index,H5-median
0,1.,Nature,[414],607
1,2.,The New England Journal of Medicine,[410],704
2,3.,Science,[391],564
3,4.,IEEE/CVF Conference on Computer Vision and Pat...,[356],583
4,5.,The Lancet,[345],600
...,...,...,...,...
95,96.,Frontiers in Immunology,[134],177
96,97.,Small,[134],173
97,98.,Nature Immunology,[133],210
98,99.,JAMA Oncology,[133],202
99,100.,The Lancet Neurology,[133],200

In [6]:
# # Ques 7: Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
# ## i) Headline
# ## ii) Time
# ## iii) News Link



from bs4 import BeautifulSoup
import requests



page=requests.get('https://www.cnbc.com/world/?region=world')



page



soup=BeautifulSoup(page.content, 'html.parser')
soup



headline=[]

for i in soup.find_all('div', class_="LatestNews-headlineWrapper"):
    headline.append(i.text.split(sep='Ago')[1]) 
    
headline


time=[]

for i in soup.find_all('div', class_="LatestNews-headlineWrapper"):
    time.append(i.text.split(sep='Ago')[0]) 
    
time



headline_link=[]

for link in soup.find_all('a', class_="LatestNews-headline"):
    headline_link.append(link.get('href'))

    
#Creating DataFrame

import pandas as pd

news = pd.DataFrame({'Headline': headline,'Time':time, 'Link': headline_link})
news

,Headline,Time,Link
0,UBS says Generac is a top pick with more than ...,32 Min,https://www.cnbc.com/2022/06/02/ubs-says-gener...
1,Walmart bets its stores will give it an edge i...,45 Min,https://www.cnbc.com/2022/06/02/walmart-bets-i...
2,5 things to know before the stock market opens...,47 Min,https://www.cnbc.com/2022/06/02/5-things-to-kn...
3,D.A. Davidson sees more downside for Rivian sh...,1 Hour,https://www.cnbc.com/2022/06/02/da-davidson-se...
4,"Piper Sandler downgrades Pinterest and Snap, s...",2 Hours,https://www.cnbc.com/2022/06/02/piper-sandler-...
5,Russia takes majority control of key Ukrainian...,2 Hours,https://www.cnbc.com/2022/06/02/russia-ukraine...
6,U.S. Treasury yields dip ahead of employment data,4 Hours,https://www.cnbc.com/2022/06/02/us-treasury-yi...
7,TerraUSD collapse will 'probably be the end' o...,5 Hours,https://www.cnbc.com/2022/06/02/ust-debacle-wi...
8,Ideas about recycling and nature are changing ...,5 Hours,https://www.cnbc.com/2022/06/02/circular-econo...
9,"European stocks rise as traders assess data, O...",5 Hours,https://www.cnbc.com/2022/06/02/european-stock...
10,How Russia could try to get around the Europea...,7 Hours,https://www.cnbc.com/2022/06/02/how-russia-cou...
11,First time on a yacht? Avoid these 7 amateur m...,8 Hours,https://www.cnbc.com/2022/06/02/first-time-on-...
12,Oil slides after report Saudi Arabia could ste...,9 Hours,https://www.cnbc.com/2022/06/02/oil-prices-eu-...
13,"Solana suffered its second outage in a month, ...",10 Hours,https://www.cnbc.com/2022/06/01/solana-suffere...
14,Goldman names its top battery stock to play ri...,10 Hours,https://www.cnbc.com/2022/06/02/goldman-sachs-...
15,'Fallen angels': Morgan Stanley says buy the d...,11 Hours,https://www.cnbc.com/2022/06/02/morgan-stanley...
16,Self-driving car companies' first step to maki...,11 Hours,https://www.cnbc.com/2022/06/02/self-driving-c...
17,"Javier Olivan, who's replacing Sandberg at Met...",11 Hours,https://www.cnbc.com/2022/06/01/javier-olivan-...
18,"Sandberg was Facebook's adult, but it's always...",12 Hours,https://www.cnbc.com/2022/06/01/sheryl-sandber...
19,Asia-Pacific stocks struggle for direction; oi...,12 Hours,https://www.cnbc.com/2022/06/02/asia-markets-a...
20,Cramer's lightning round: I like P&G over Olaplex,13 Hours,https://www.cnbc.com/2022/06/01/cramers-lightn...
21,Biden administration will cancel student debt ...,13 Hours,https://www.cnbc.com/2022/06/01/biden-administ...
22,Jim Cramer likes this alternative energy play ...,13 Hours,https://www.cnbc.com/2022/06/01/cramer-the-alt...
23,Jim Cramer says investors should consider 3 th...,13 Hours,https://www.cnbc.com/2022/06/01/cramer-says-in...
24,Stock futures rebound on Thursday as oil price...,14 Hours,https://www.cnbc.com/2022/06/01/stock-futures-...
25,Best trades on CNBC Wednesday: Safety stocks a...,14 Hours,https://www.cnbc.com/2022/06/01/best-trades-on...
26,Reckitt says it's ready to import 21 million b...,14 Hours,https://www.cnbc.com/2022/06/01/reckitt-baby-f...
27,Why Meta drop on Sandberg's exit is a good cha...,15 Hours,https://www.cnbc.com/2022/06/01/why-drop-in-me...
28,Stocks making the biggest moves after hours: C...,15 Hours,https://www.cnbc.com/2022/06/01/stocks-making-...
29,Tough new sanctions on Russia could change the...,15 Hours,https://www.cnbc.com/2022/06/01/tough-new-sanc...

In [7]:
# # Ques 8:  Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
# ## https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
# ## Scrape below mentioned details :
# ## i) Paper Title 
# ## ii) Authors
# ## iii) Published Date 
# ## iv) Paper URL



from bs4 import BeautifulSoup
import requests



page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')



page



soup=BeautifulSoup(page.content, 'html.parser')
soup



title=[]

for i in soup.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    title.append(i.text) 
    
title



author=[]

for i in soup.find_all('span', class_="sc-1w3fpd7-0 pgLAT"):
    author.append(i.text) 
    
author



released=[]

for i in soup.find_all('span', class_="sc-1thf9ly-2 bKddwo"):
    released.append(i.text) 
    
released



url = []

for link in soup.find_all('a', class_="sc-5smygv-0 nrDZj"):
    url.append(link.get('href'))



print(len(title),len(author), len(released),len(url))



#Creating DataFrame

import pandas as pd

AI = pd.DataFrame({'Title': title,'Author':author,'Published Date':released,'URL':url})
AI

25 25 25 25

,Title,Author,Published Date,URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [8]:
# # Ques 9: Write a python program to scrape mentioned details from dineout.co.in :
# ## i) Restaurant name
# ## ii) Cuisine
# ## iii) Location 
# ## iv) Ratings
# ## v) Image URL



from bs4 import BeautifulSoup
import requests



page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')



page



soup=BeautifulSoup(page.content, 'html.parser')
soup



restaurant_name=[]

for i in soup.find_all('a', class_="restnt-name ellipsis"):
    restaurant_name.append(i.text) 
    
restaurant_name



cuisine=[]

for i in soup.find_all('span', class_="double-line-ellipsis"):
    cuisine.append(i.text.split(sep='|')[1]) 
    
cuisine



loc=[]

for i in soup.find_all('div', class_="restnt-loc ellipsis"):
    loc.append(i.text) 
    
loc



ratings=[]
for i in soup.find_all('div', class_="restnt-rating rating-4"):
    ratings.append(i.text) 
    
ratings



img_url=[]

for i in soup.find_all('img',class_="no-img"):
    img_url.append(i['data-src'])
    
img_url



#Creating DataFrame

import pandas as pd

dineout = pd.DataFrame({'Restaurant name': restaurant_name,'Cuisine': cuisine, 'Location ': loc, 'Ratings': ratings, 'Image URL': img_url})
dineout

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"North Indian, Chinese","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"North Indian, Italian","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,North Indian,"Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"North Indian, Mughlai, Desserts, Beverages","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"European, Italian, Asian, Continental","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

In [9]:
# # Ques 10: Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en
# ## i) Rank 
# ## ii) Publication
# ## iii) h5-index
# ## iv) h5-median



from bs4 import BeautifulSoup
import requests



page=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
page



soup=BeautifulSoup(page.content, 'html.parser')
soup



rank=[]
for i in soup.find_all('td', class_="gsc_mvt_p"):
    rank.append(i.text) 
    
rank



publication=[]
for i in soup.find_all('td', class_="gsc_mvt_t"):
    publication.append(i.text) 
    
publication



h5i=[]
for i in soup.find_all('a', class_="gs_ibl gsc_mp_anchor"):
    h5i.append(i.text.split()) 
    
h5i



h5m=[]
for i in soup.find_all('span', class_="gs_ibl gsc_mp_anchor"):
    h5m.append(i.text) 
    
h5m



print(len(rank),len(publication),len(h5i),len(h5m))



#Creating DataFrame

import pandas as pd

top_pub = pd.DataFrame({'Rank': rank,'Publication':publication, ' H5-index': h5i, ' H5-median': h5m})
top_pub

100 100 100 100

,Rank,Publication,H5-index,H5-median
0,1.,Nature,[414],607
1,2.,The New England Journal of Medicine,[410],704
2,3.,Science,[391],564
3,4.,IEEE/CVF Conference on Computer Vision and Pat...,[356],583
4,5.,The Lancet,[345],600
...,...,...,...,...
95,96.,Frontiers in Immunology,[134],177
96,97.,Small,[134],173
97,98.,Nature Immunology,[133],210
98,99.,JAMA Oncology,[133],202
99,100.,The Lancet Neurology,[133],200